<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>128801536434-vp31ih86oemdt75cquh3p1af642ll4ol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128801536434-vp31ih86oemdt75cquh3p1af642ll4ol</string>
	<key>API_KEY</key>
	<string>AIzaSyAd9Op7KcH_Ya-6zm11nlmmhtmMO8irXmo</string>
	<key>GCM_SENDER_ID</key>
	<string>128801536434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cpucontrol.Ring-Bounce</string>
	<key>PROJECT_ID</key>
	<string>ring-bounce</string>
	<key>STORAGE_BUCKET</key>
	<string>ring-bounce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:128801536434:ios:2641ae9480f42217</string>
	<key>DATABASE_URL</key>
	<string>https://ring-bounce.firebaseio.com</string>
</dict>
</plist>